

<div class="classOfLists">
Before the name:  {{name}} {{id}}<br>
  {{#each listedTasks}}

  {{todo}} {{completed}} {{id}}
  {{/each}}
</div>


<section class="sectionLists" id="sectionNewList">
  <h1>{{name}}<i class="fa fa-plus"></i></h1>
  <!-- <input type="text" name="title" value="{{listName}}" placeholder="{{listName}}" required><br> -->
  <form class="" action="/lists/addTask" method="post">
    <!-- <input type="text" name="list_id" value="{{list_id}}" hidden="hidden"> -->
    <input type="text" name="email" value="{{user}}" hidden="hidden">
    <input type="text" name="listName" value="{{name}}" hidden="hidden">
    <input type="text" name="list_id" value="{{id}}" hidden>
    <input type="text" name="todo" placeholder= "Add new task" id="inputAddListTask">
    <button type="submit" name="buttonAddTask" id="buttonAddTask">submit</button>
  </form>
  <ul>
    {{#each listedTasks}}
    <li>
      <span class="span-trash spanDeleteTask hoverSpan"><i class="fa fa-trash" title="Delete list"></i></span>
      {{todo}}
      <button type="button" name="button" class="buttonCompletedTask"><span class="span-done"><i class="fa fa-check" aria-hidden="true"></i></span></button>
      <div class="divForButton">
        A
      </div>
      <p class="spanCompletedTask" hidden>{{completed}}</p>
      <form class="hiddenTasks" action="/lists/deleteTask?_method=DELETE" method="post">
        <input type="text" name="task_id" value="{{task_id}}" hidden="hidden">
        <button type="submit" name="deleteButton" class="deleteButton" hidden="hidden"></button>
      </form>

      <form class="hiddenTasksUpdate" action="/lists/updateTask?_method=PUT" method="post">
        <input type="text" name="id" value="{{id}}" hidden>
        <button type="submit" name="buttonUpdateTask" class="buttonUpdateTask" hidden>update task</button>
      </form>
    </li>
    {{/each}}
  </ul>
</section>

<script type="text/javascript" src="/js/todos.js"></script>
