

<div class="classOfLists">
  {{listName}} <br>
  {{#each listedTasks}}

  {{todo}} {{completed}}
  {{/each}}
</div>


<section class="sectionLists" id="sectionNewList">
  <h1>{{listName}}<i class="fa fa-plus"></i></h1>
  <!-- <input type="text" name="title" value="{{listName}}" placeholder="{{listName}}" required><br> -->
  <form class="" action="/lists/addTask" method="post">
    <input type="text" name="list_id" value="{{list_id}}" hidden="hidden">
    <input type="text" name="email" value="{{user}}" hidden="hidden">
    <input type="text" name="listName" value="{{listName}}" hidden="hidden">
    <input type="text" name="todo" placeholder= "Add new task" id="inputAddListTask">
    <button type="submit" name="buttonAddTask" id="buttonAddTask">submit</button>
  </form>
  <ul>
    {{#each listedTasks}}
    <li>
      <span><i class="fa fa-trash"></i></span>{{todo}} {{listName}}
      <p class="spanCompletedTask" hidden>{{completed}}</p>
      <form class="hiddenTasks" action="/lists/deleteTask?_method=DELETE" method="post">
        <input type="text" name="task_id" value="{{task_id}}" hidden="hidden">
        <button type="submit" name="deleteButton" class="deleteButton" hidden="hidden"></button>
      </form>

      <form class="hiddenTasksUpdate" action="/lists/updateTask?_method=PUT" method="post">
        <input type="text" name="id" value="{{id}}" hidden="hidden">
        <button type="submit" name="updateButton" class="updateButton" hidden="hidden"></button>
      </form>
    </li>
    {{/each}}
  </ul>
</section>

<script type="text/javascript" src="/js/todos.js"></script>
